<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet Rewards</title>
</head>
<body>
    <h1>Fleet Rewards</h1>
    <br>
<<<<<<< HEAD
=======
    Hi <%-body%>! Welcome to Fleet Rewards!
>>>>>>> 6d5d45901e1721e6915c6e6274805bbcc8533f97
    <br>
    <h2>Profile Management</h2>
    <hr>
    <b>Account Settings</b>
<<<<<<< HEAD
    Contact Information
    Vehicle Fleet Size
    Purchase Prefernces
    <b>Activity Logs</b>
    Loyalty Points
    Reward Redemption
=======
    <ul>
        <li><a href="../edit-contact-info">Edit Contact Information</a></li>
        <li><a href="../edit-fleet-size">Edit Vehicle Fleet Size</a></li>
        <li><a href="../edit-purchase-preferences">Edit Purchase Preferences</a></li>
    </ul>
    <br>
    <b>Activity Logs</b>
    Loyalty Points
    Reward Redemption
    <br>
>>>>>>> 6d5d45901e1721e6915c6e6274805bbcc8533f97
    <b>Purchase History</b>
    
    <%- body %>
    <footer>
        <p>&copy; 2024 Fleet Rewards</p>
    </footer>
</body>
</html>