
<table border="1">
    <thead>
        <tr>
            <th>Purchase ID</th>
            <th>User ID</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Purchase Date</th>
        </tr>
    </thead>
    <tbody>
        
        <!-- Rows of purchase history will go here -->
    </tbody>
</table>
